body {
    background-color: floralwhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper > * {
    flex: 1 100%;
}

section, header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

ul {
    list-style-type: none;
}

a:link, a:visited {
    color: black;
}

a:hover {
    text-decoration: overline;
}