body {
    background-color: floralwhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper > * {
    flex: 1 100%;
}

/*
main
================================================================
*/

main {
    display: flex;
    flex-flow: row wrap;
}

section {
    flex: 4;
    order: 1;
}

.aside-1 { 
    flex: 2;
    background-color: aqua;
}
.aside-2 { 
    flex: 2;
    order: 2;
    background-color: blueviolet;
}

/*
section
================================================================
*/

section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/*
footer, header
================================================================
*/

header, footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

a:link, a:visited {
    color: black;
    text-align: center;
}

a:hover {
    text-decoration: overline;
}
