{% extends 'base.html' %}
{% block title %}Титулка{% endblock %}
{% block content %}
{% if '/reset/' in request.path and not validlink %}
    <article>
        <div class="header">
            <h2>Ошибка</h2>
            <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
        </div>  
    </article>
{% else %}
    <article>
        <div class="header">
            <h2>{% block header %}Заголовок{% endblock %}</h2>
        </div>
        {% for error in form.errors %}
            <div class="alert" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <form method="post">
            <div class="card-form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="card-field">
                        <div class="card-label"><label for="{{ field.id_for_label }}">{{ field.label }}</label></div>
                        <div class="field">{{ field }}</div>
                        {% if field.help_text %}
                            <div class="card-help">{{ field.help_text|safe }}</div>
                            {% else %}
                            <div class="card-help"></div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="card-submit">
                    <button type="submit">
                        {% block button %}Кнопка{% endblock %}
                    </button>
                    {% if '/login/' in request.path %}
                        <a href="{% url 'password_reset' %}">
                            Забыли пароль?
                        </a>
                    {% endif %}
                </div>
            </div>
        </form>
    </article>
    {% endif %}
{% endblock %}