{% extends 'base.html' %}
{% block title %}Титулка{% endblock %}
{% block content %}
{% if '/reset/' in request.path and not validlink %}
    <article class="article">
        <div class="article-header">
            <h2>Ошибка</h2>
            <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
        </div>  
    </article>
{% else %}
<article class="form-article">
    <section class="form-section">
        <div class="form-header">
            <h2>{% block header %}Заголовок{% endblock %}</h2>
        </div>
        {% for error in form.errors %}
            <div class="alert" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <form method="post">
            <div class="form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-help">
                        {{ field }}
                        <div class="help">
                            {% if field.help_text %}
                                {{ field.help_text|safe }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="submit">
                    {% if '/login/' in request.path %}
                        <a href="{% url 'password_reset' %}">
                            Забыли пароль?
                        </a>
                    {% endif %}
                    <button type="submit">
                        {% block button %}Кнопка{% endblock %}
                    </button>
                </div>
            </div>
        </form>
    </section>
</article>
    {% endif %}
{% endblock %}