{% extends 'base.html' %}
{% block title %}Новая статья{% endblock %}
{% block content %}
    <article class="card">
        <div class="header">
            <h2>Новая статья</h2>
        </div>
        <form method="post">
            <div class="card-form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="card-field">
                        <div class="card-label"><label for="{{ field.id_for_label }}">{{ field.label }}</label></div>
                        <div class="field">{{ field }}</div>
                        {% if field.help_text %}
                            <div class="card-help">{{ field.help_text|safe }}</div>
                            {% else %}
                            <div class="card-help"></div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="card-submit">
                    <button type="submit">
                        Опубликовать
                    </button>
                </div>
            </div>
        </form>
    </article>
{% endblock %}