body {
    background-color: floralwhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper > * {
    flex: 1 100%;
}

section, header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    gap: 1rem;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: .5rem;
}

a:link, a:visited {
    color: black;
    text-align: center;
}

a:hover {
    text-decoration: overline;
}