body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('back_1920x1200.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    overflow: hidden;
}

.flex-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: black;
    color: #fff;
    width: 100%;
    height: 48px;
}

.flex-content {
    overflow-y: auto;
    width: 720px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding-bottom: 50px;
    padding-top: 65px;
}

.flex-article {
    overflow-y: auto;
    margin-bottom: 15px;
    background: #fff;
    padding: 20px;
    font-size: 1em;
    border-radius: 10px;
}

.flex-footer {
    display: flex;
    justify-content: space-around;
    background: black;
    color: #fff;
    width: 100%;
    height: 48px;
}

.flex-article header h2 {
    padding: 0;
    margin: 0;
}

.flex-article header p {
    font-size: .7em;
    color:gray;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
