body {
    background-color: floralwhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

@media screen and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}

@media screen and (min-width: 900px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}

/*
footer, header
================================================================
*/

header, footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2em;
    padding: 1em;
}

a:link, a:visited {
    color: black;
    text-align: center;
}

a:hover {
    text-decoration: overline;
}

.article {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 15%;
    gap: 1em;
}

.field {
    display: flex;
    padding: .5em;
    justify-content: flex-start;
    gap: .5em;
}

.label {
    flex: 1;
}

.input-help {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.help {
    font-size: 0.7em;
}

textarea {
    width: 100%;
}

.submit {
    display: flex;
    gap: .5em;
    justify-content: flex-end;
}
