body {
    background-color: floralwhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

@media screen and (max-width: 599px) {
    header, footer { gap: 1rem; }
}

@media screen and (min-width: 600px) {
    .aside { flex: 1 0 0; }
    header, footer { gap: 2rem; }
}

@media screen and (min-width: 900px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
    header, footer { gap: 5rem; }
}

/*
footer, header
================================================================
*/

header, footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem;
    font-size: 1.5rem;
}

a:link, a:visited {
    color: black;
    text-align: center;
}

a:hover {
    text-decoration: overline;
}

/*
main, content, form
================================================================
*/

.main {
    min-height: 400px;
    font-size: 1.3rem;
}

.form-article {
    display: flex;
    justify-content: center;
}

.form-section {
    max-width: 350px;
}

form {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.input-help {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.help {
    color: darkgray;
    font-size: 0.8rem;
}

/*
input, textarea, button
================================================================
*/

textarea {
    width: 50vw;
    min-width: 207px;
    font-size: 1rem;
    background-color: floralwhite;
}

input {
    padding: 0.3rem;
    font-size: 1rem;
    background-color: floralwhite;
}

input:focus, textarea:focus {
    background-color: white;
}

.submit {
    margin: .5rem 0;
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
    font-size: 1rem;
}

.submit > a {
    padding: .4rem;
}

button {
    background-color: Linen;
    padding: .4rem;
    border-color: GhostWhite;
}

button:hover {
    background-color: Azure;
}

/*
post
================================================================
*/

.post-header > h2 {
    margin-bottom: 0;
}

.post-header > p {
    font-size: .8rem;
    color: darkgray;
    margin: 0;
}

article > p {
    line-height: 1.5;
}