{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    {% if validlink %}
        <article class="card">
            <div class="header">
                <h2>Введите новый пароль</h2>
            </div>
            <form method="post">
                <div class="card-form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="card-field">
                            <div class="card-label"><label for="{{ field.id_for_label }}">{{ field.label }}</label></div>
                            <div class="field">{{ field }}</div>
                            {% if field.help_text %}
                                <div class="card-help">{{ field.help_text|safe }}</div>
                                {% else %}
                                <div class="card-help"></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="card-submit">
                        <button type="submit">
                            Назначить новый пароль
                        </button>
                    </div>
                </div>
            </form>
        </article>
    {% else %}
        <article class="card">
            <div class="header">
                <h2>Ошибка</h2>
                <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
            </div>  
        </article>
    {% endif %}
{% endblock %}